<!-- Modal -->
<div id="task_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Task</h4>
      </div>
      <div class="modal-body">
        <form name="taskForm">
					<input ng-model="newTask.title" placeholder="Title"/>
					<input type="date" ng-model="newTask.due_date_unformatted"/>
				</form>
      </div>
      <div class="modal-footer">
				<button type="button" class="btn" ng-click=saveTask(taskForm)>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
