<div ng-controller="login-controller" ng-hide="authToken">
	<h1>{{test}}</h1>
	<form>
		<input ng-model="user.username" placeholder="Username"/>
		<input type="password" ng-model="user.password"/>
		<button ng-click="login()">
			Login
		</button>
	</form>
</div>
<div ng-controller="task-list-controller" ng-show="authToken" ng-init="init()">
	<div class="pull-right col-lg-12" style="padding-bottom:10px;margin:auto;">
		<h1 class="pull-left">To Do App</h1>
		<button type="button"
			style="margin-top:22px;"
			class="btn pull-right"
			data-toggle="modal"
			data-target="#task_list_modal"
			ng-click="initNewTaskList()">Add Task List</button>
	</div>
	<div class="pull-right col-lg-12">
		<%= render "task_lists" %>
	</div>
	<%= render "task_list_form" %>
	<%= render "task_form" %>
	<%= render "note_form" %>
</div>
